<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CONSUMER_SECRET</key>
	<string>8ZZSVQQ3hto1Mmu5DfjdQ0AeD</string>
	<key>CONSUMER_KEY</key>
	<string>DGrpyQHq5PXPqSVSLIpltzdeT9qoI0RBXNbPrKz7o87Q49JOAR</string>
</dict>
</plist>
